{% extends "layout.html" %}
<!-- Main -->
{% block body %}
<section id="main" class="container">

	<section id="start" class="box special">
		<ol class="breadcrumb">
		  <li class="active">Start</li>
		  <li><a href="#menu">Menu</a></li>
		  <li><a href="#location">Location</a></li>
		  <li><a href="#hours">Hours</a></li>
		  <li><a href="#go">Review</a></li>
		</ol>
		<header class="major">
			<h2>What is today's goal?</h2>
		</header>
		<div class="form-group">
			
			<div class="thumbnail">
			  <img id="goal_logo" src="{{ url_for('static', filename='images/money.jpg') }}" alt="Money">
			</div>
			<label for="amount"><h3>Goal amount $ (USD)</h3></label>
			<div id="goal_input" class="input-group">
				<div class="input-group-addon">$</div>
				<input class="form-control" type="number" name="amount" value="{{ truck.goal }}">
				<div class="input-group-addon">.00</div>
			</div>
			<a class="btn btn-success" href="#menu">Continue</a>
		</div>
	</section>

	<section id="menu" class="box special">
		<ol class="breadcrumb">
		  <li><a href="#start">Start</a></li>
		  <li class="active">Menu</li>
		  <li><a href="#location">Location</a></li>
		  <li><a href="#hours">Hours</a></li>
		  <li><a href="#go">Review</a></li>
		</ol>
		<header class="major">
			<h2>Today's menu</h2>
		</header>
		<div class="form-group">
			<table id="menu_table" class="table-hover">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Restriction</th>
					<th>Prep Time</th>
					<th>In Stock</th>
					<th></th>
					<th></th>
				</tr>
				{% for item in items %}
					<tr>
						<td>{{item.name}}</td>
						<td>{{item.description}}</td>
						<td>${{item.price}}</td>
						<td>{{item.restriction}}</td>
						<td style="text-align:center;">{{item.preptime}} mins</td>
						<td style="text-align:center;">
							{% if item.isinstock == 1 %}
								<span class="fa fa-check"></span>
							{% endif %}
							{% if item.isinstock == 0 %}
								<span class="fa fa-times"></span>
							{% endif %}
						</td>
						<td>
							<a class="btn btn-info">Edit</a>
						</td>
						<td>
							<a class="btn btn-danger">Remove</a>
						</td>
					</tr>
				{% endfor %}
				
				<tr>
					<td>
						<a class="btn btn-default">Add</a>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<a class="btn btn-success" href="#location">Continue</a>
		</div>
	</section>
	
	<section id="location" class="box special">
		<ol class="breadcrumb">
		  <li><a href="#start">Start</a></li>
		  <li><a href="#menu">Menu</a></li>
		  <li class="active">Location</li>
		  <li><a href="#hours">Hours</a></li>
		  <li><a href="#go">Review</a></li>
		</ol>
		<header class="major">
			<h2>Where are we going?</h2>
		</header>
		<div id="map">
		</div>
		<div class="form-group" style="padding-top: 6px;">
			<input type="number" id="locationRadius" name="valueId" value="0.3125"/>
			<button class="btn btn-primary" id="radiusButton" type="submit">Update Radius</button>
		</div>
		<a class="btn btn-success" href="#hours">Continue</a>
		
	</section>
	
	<section id="hours" class="box special">
		<ol class="breadcrumb">
		  <li><a href="#start">Start</a></li>
		  <li><a href="#menu">Menu</a></li>
		  <li><a href="#location">Location</a></li>
		  <li class="active">Hours</li>
		  <li><a href="#go">Review</a></li>
		</ol>
		<header class="major">
			<h2>When are we going to be open for business?</h2>
		</header>
		<div class="thumbnail">
			<img id="hours_logo" src="{{ url_for('static', filename='images/hours_logo.png') }}" alt="Hours">
		</div>
		<div id="hours_input" class="form-group">
			<input type="number" id="timepicker_hour" value="10">
			<span>:</span>
			<input type="number" id="timepicker_minute" value="25">
			<select id="timepicker_hours" >
			  <option value="am">am</option>
			  <option value="pm">pm</option>
			</select>
		</div>
		<a class="btn btn-success" href="#go">Continue</a>
		
	</section>
	<section id="go" class="box special features">
		<ol class="breadcrumb">
		  <li><a href="#start">Start</a></li>
		  <li><a href="#menu">Menu</a></li>
		  <li><a href="#location">Location</a></li>
		  <li><a href="#hours">Hours</a></li>
		  <li class="active">Review</li>
		</ol>
		<header class="major">
			<h2>Review your settings</h2>
		</header>
		<div class="features-row">
			<section>
				<span class="icon major fa-money accent2"></span>
				<h3>Goal</h3>
				<h4>The current goal is set to <strong>${{truck.goal}}</strong></h4>
			</section>
			<section>
				<span class="icon major fa-cutlery accent3"></span>
				<h3>Menu</h3>
				<p>Today's menu includes: 
					{% for item in items %}
						<span style="padding: 0 4px 0 4px"><strong>{{item.name}}</strong></span>
					{% endfor %}
				</p>
			</section>
		</div>
		<div class="features-row">
			<section>
				<span class="icon major fa-truck accent4"></span>
				<h3>Location</h3>
				<p>Today you'll travel at most <strong>{{truck.distance}} miles</strong>.</p>
			</section>
			<section>
				<span class="icon major fa-clock-o accent5"></span>
				<h3>Hours</h3>
				<p>Today, your business will open at <strong>{{truck.hours}}</strong>.</p>
			</section>
		</div>
		<a class="btn btn-success" href="/votes">Let's go!</a>
		
	</section>

</section>

<script>
  var travelradius = 500;
  var citycenter = {lat: 37.779, lng: -122.434};

  var button = document.getElementById("radiusButton");
  var locationRadius = document.getElementById("locationRadius");
  button.onclick = function() {
        value =  locationRadius.value;
        travelradius = parseInt(value) * 1600;
        google.maps.event.trigger(map, 'resize');
        initMap();
  }
  
function initMap() {
  

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: {lat: 37.779, lng: -122.434},
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
    var cityCircle = new google.maps.Circle({
      strokeColor: '#197D4B',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#24b36b',
      fillOpacity: 0.2,
      map: map,
      center: citycenter,
      radius: travelradius
    });
}

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU8Ac3lSokaM1IBdFHAB26R6gmA0p03CU&signed_in=true&callback=initMap"></script>
{% endblock %}