{% extends "layout.html" %}
<!-- Main -->
{% block body %}

<section id="main" class="container">
	<section id="orders" class="box special">
		<header class="major" >
			<h2>Orders for the day:</h2>
		</header>
		<div id="order_list">
		</div>
		<a class="btn btn-default" href="/dashboard">Proceed</a>
	</section>
</section>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>



$( document ).ready(function() {
	$("div.list-group").click(function(){
		$(this).children("a")[0].addClass("active");
	});
	
	var xmlhttp;
	if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp = new XMLHttpRequest();
	}
	else { // code for IE6, IE5
		xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange = function() {
		if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			var orderList = document.getElementById("order_list");
			response = xmlhttp.responseText;
			jsonArray = JSON.parse(response);
			for(var i = 0; i<jsonArray.length; i++)
			{
				order = jsonArray[i];
				orderList.innerHTML = orderList.innerHTML + "<div class='list-group'><a class='list-group-item'><h4 class='list-group-item-heading'><strong>" + (i+1) + ". " +  order.name + "</strong></h4><h4><small>" + order.cost + "</small></h4></a></div>";
			}
		}
	}
	xmlhttp.open("GET", "http://meetsvm.cloudapp.net/transactions.php", true);
	xmlhttp.send();
});
</script>




{% endblock %}